template(name="navbar")
    // Navigation
    .navbar-fixed
        nav#nav_f.default_color(role='navigation')
            .container
                .nav-wrapper
                    a#logo-container.brand-logo.black-text(href='#top') YELLOW DANGER BREWERY
                    ul#nav-mobile.right.hide-on-med.side-nav
                        li
                            a(href='#intro') Service
                        li
                            a(href='#work') Work
                        li
                            a(href='#team') Team
                        li
                            a(href='#contact') Contact
                        li
                            a(href='', target='_blank') Download
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu