
nav a.button-collapse {
  left: -25px;
}

nav ul a {
  font-size: 1.2rem;
  display: block;
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  padding: 0px 15px;
  //text-shadow: 0 1px 20px black;
}


.brand-logo{
  font-family: 'Cantarell', sans-serif;
  display: inline-block;
  font-size: 1rem !important;
  font-style: italic;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .brand-logo{
    font-size: 1.5rem !important;

  }
}
@media only screen and (min-width: 1024px) {
  .brand-logo{
    font-size: 1.7rem !important;
  }
}
