template(name="navbar")
    // Navigation
    .navbar-fixed
        nav#nav_f.amber(role='navigation')
            .container
                .nav-wrapper
                    a#logo-container.brand-logo.black-text(href='#top') YELLOW DANGER BREWERY
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu
                    ul#nav-mobile.side-nav
                        +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_items
                        if currentUser
                            a(href="#")
                                +account

//
template(name="nav_items")
    each navbar
        li.cantarell
            a(href='##{intro.link}' class="#{intro._id}")= intro.text
        li.cantarell
            a(href='##{work.link}' class="#{work._id}")= work.text
        li.cantarell
            a(href='##{team.link}' class="#{team._id}")= team.text
        li.cantarell
            a(href='##{contact.link}' class="#{contact._id}")= contact.text

//
template(name="nav_items_side")
    +nav_items

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li.cantarell
            a#sign-out Logga ut