
nav a.button-collapse {
  left: -25px;
}

nav ul a {
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
}



.brand-logo{
  font-family: 'Cantarell', sans-serif;
  display: inline-block;
  font-size: 1rem !important;
  font-style: italic;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .brand-logo{
    font-size: 1.5rem !important;

  }
}
@media only screen and (min-width: 1024px) {
  .brand-logo{
    font-size: 2rem !important;
    text-align: center;
  }
}
