template(name="navbar")
    // Navigation
    .navbar-fixed
        nav#nav_f.amber(role='navigation')
            .container
                .nav-wrapper
                    a#logo-container.brand-logo.black-text(href='#top') YELLOW DANGER BREWERY
                    a.button-collapse(href='#', data-activates='nav-mobile')
                        i.mdi-navigation-menu
                    ul#nav-mobile.side-nav
                        +nav_items_side
                    ul#nav-upper.hide-on-med-and-down.right
                        +nav_items
                        if currentUser
                            a(href="#")
                                +account

//
template(name="nav_items")
    li.cantarell
        a(href='#intro') Om
    li.cantarell
        a(href='#work') Produkter
    li.cantarell
        a(href='#team') Team
    li.cantarell
        a(href='#contact') Kontakt

//
template(name="nav_items_side")
    +nav_items

//
template(name="account")
    ul#account-dropdown.dropdown-content
        li.cantarell
            a#sign-out Logga ut