template(name="hero")
    #index-banner.section.no-pad-bot.lime.lighten-3.valign-wrapper
        .container
            .center
                img.responsive-img#ydb-logo(src="img/ydb.png")
                h1
                    a(href='#intro').black-text
                        i.mdi-navigation-arrow-drop-down-circle.read-more
