template(name="hero")
    #index-banner.section.no-pad-bot
        .container
            h1.text_h.center.header.cd-headline.letters.type
                span YELLOW DANGER
                span.cd-words-wrapper.waiting
                    b.is-visible BREWERY
                    b NORRKÖPING
                    b SWEDEN