template(name="team")
    #team.section.scrollspy
        .container
            h2.header.amber.center
                b
                    i TEAM
            .row
                ul.scrollfire.persons
                    li
                        .col.s12.m3
                            .card.card-avatar
                                .waves-effect.waves-block.waves-light
                                    img.activator(src='img/avatar1.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | Person 1
                                        br
                                        small
                                            em
                                                a.red-text.text-darken-1(href='#') CEO
                    li
                        .col.s12.m3
                            .card.card-avatar
                                .waves-effect.waves-block.waves-light
                                    img.activator(src='img/avatar2.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | Person 2
                                        br
                                        small
                                            em
                                                a.red-text.text-darken-1(href='#') Position

                    li
                        .col.s12.m3
                            .card.card-avatar
                                .waves-effect.waves-block.waves-light
                                    img.activator(src='img/avatar3.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | Person 3
                                        br
                                        small
                                            em
                                                a.red-text.text-darken-1(href='#') Position

                    li
                        .col.s12.m3
                            .card.card-avatar
                                .waves-effect.waves-block.waves-light
                                    img.activator(src='img/avatar4.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | Person 4
                                        br
                                        small
                                            em
                                                a.red-text.text-darken-1(href='#') Position

