.card-avatar {
  .waves-effect {
    text-align: center;
    margin-top: 20px;
  }
  img {
    height: 150px;
    width: 150px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 75px;
  }
  .card-content {
    text-align: center;
    i {
      font-size: 1.5rem;
    }
    .card-title {
      line-height: 30px !important;
    }
  }
}

.card .card-content p {
  margin: 15px 0;
}