template(name="team")
    #team.section.scrollspy
        .container
            h2.header.amber.center
                each team
                    if teamTitle
                        b
                            i
                                | !{ teamTitle }

            .row
                ul.scrollfire.persons.cantarell
                    each team
                        if title
                            li
                                .col.s12.m3
                                    .card.card-avatar
                                        .waves-effect.waves-block.waves-light
                                            img.activator(src='#{img}')
                                        .card-content
                                            span.card-title.activator.grey-text.text-darken-4
                                                | !{ name }
                                                br
                                                small
                                                    em
                                                        a.orange-text.text-darken-1(href='#')
                                                            | !{ title }