@import '{}/client/style/_fonts';
@import '{}/client/style/_colors';
@import '{}/client/style/_mixins';
@import '{}/client/style/_media';

$brand_font: Cantarell;
$brand_font_backup: sans-serif !important;


$border: 1px solid white;


.btn-edit {
  right: -2em;
}
.cantarell {
  font-family: $brand_font, $brand_font_backup;
}


input {
  border-bottom: $border;
}
textarea {
  border-bottom: $border;
}
