// TODO: SASS


.cantarell {
  font-family: 'Cantarell', sans-serif;
}

#intro, #work, #team {padding-top: 4rem;}
#work, #team{background: rgb(247, 247, 247);}


.text_h2 {
  font-weight: 100;margin-bottom: 4%; line-height: 4rem;
}

input, textarea {
  border-bottom: 1px solid #fff;
}

