template(name="footer")
    #contact.page-footer.amber.scrollspy
        .container
            .row
                .col.l6.s12
                    form.col.s12
                        .row
                            .input-field.col.s6
                                i.mdi-action-account-circle.prefix.white-text
                                input#icon_prefix.validate.white-text(type='text')
                                label.white-text(for='icon_prefix') First Name
                            .input-field.col.s6
                                i.mdi-communication-email.prefix.white-text
                                input#icon_email.validate.white-text(type='email')
                                label.white-text(for='icon_email') Email-id
                            .input-field.col.s12
                                i.mdi-editor-mode-edit.prefix.white-text
                                textarea#icon_prefix2.materialize-textarea.white-text
                                label.white-text(for='icon_prefix2') Message
                            .col.offset-s7.s5
                                button.btn.waves-effect.waves-light.red.darken-1(type='submit', name='action')
                                    | Submit
                                    i.mdi-content-send.right.white-text
                .col.l3.s12
                    h5.white-text joashpereira.com
                    ul
                        li
                            a.white-text(href='http://www.joashpereira.com/') Home
                        li
                            a.white-text(href='http://www.joashpereira.com/blog') Blog
                .col.l3.s12
                    h5.white-text Social
                    ul
                        li
                            a.white-text(href='https://www.behance.net/joashp')
                                i.small.fa.fa-behance-square.white-text
                                |  Behance
                        li
                            a.white-text(href='https://www.facebook.com/joash.c.pereira')
                                i.small.fa.fa-facebook-square.white-text
                                |  Facebook
                        li
                            a.white-text(href='https://github.com/joashp')
                                i.small.fa.fa-github-square.white-text
                                |  Github
                        li
                            a.white-text(href='https://www.linkedin.com/in/joashp')
                                i.small.fa.fa-linkedin-square.white-text
                                |  Linkedin
        .footer-copyright.amber-text
            .container
                | Made by
                a.white-text(href='http://joashpereira.com') Joash Pereira
                | . Thanks to
                a.white-text(href='http://materializecss.com/') materializecss
