<template name="intro">
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="center intro-text">
                        <p>
                            Vi brygger <strong>&ouml;l</strong> i sp&aring;rvagnsstaden <strong>Norrk&ouml;ping</strong>
                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</template>