<template name="work">
    <div id="work" class="section scrollspy">
        <div class="container">
            <h2 class="header center">
                <b>
                    <i name="workTitle">
                        &Ouml;L
                    </i>
                </b>
            </h2>

            <div class="row">
                {{> work_cards }}
            </div>
        </div>
    </div>
</template>


<template name="work_cards">
    <ul class="scrollfire cards cantarell">
        {{#each cards}}
            <li>
                <div class="col s12 m4 l4">
                    <div class="card work-card">
                        <div class="card-image waves-effect waves-block waves-light img-product">
                            <img src="{{img}}" class="activator">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-3">
                                {{{title}}}
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-3">
                                {{{title}}}
                                <i class="mdi-navigation-close right"></i>
                            </span>
                            <p>
                                {{{text}}}
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</template>