template(name="intro")
   #intro.section.scrollspy
      .container
         .row
            .col.s12
               each intro
                  if mdTitle
                     h2.center.intro-text
                        +markdown
                           #{mdTitle}

            ul.scrollfire.icons
               each intro
                  li
                     .col.s12.m4.l4
                        .center.promo.cantarell
                           i.amber-text(class="#{icon}")
                           .icon-text-area(id="#{_id}")
                              +markdown
                                 #{mdText}
