<template name="intro">
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="center intro-text">
                        <p>
                            Ett mikrobryggeri i
                            <strong>Norrk&ouml;ping</strong>
                            med inriktning mot
                            <strong>&ouml;l</strong>.
                            Vi brygger, du dricker.
                        </p>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</template>