template(name="intro")
   #intro.section.scrollspy
      .container
         .row
            .col.s12
               h2.center.header.text_h2
                  | Ett mikrobryggeri i
                  span.amber-text Norrk&ouml;ping
                  | med inriktning mot
                  span.amber-text  &ouml;l
                  | . Ta sp&aring;rvagnen till n&auml;rmsta
                  span.amber-text  systembolag.

            ul.scrollfire.icons
               li
                  .col.s12.m4.l4
                     .center.promo.promo-example
                        i.mdi-image-flash-on.amber-text
                        h5.promo-caption R&auml;ttvist
                        p.light.center
                           | Vi anv&auml;nder bara de b&auml;sta r&aring;varorna odlade av lokalbefolkning.
               li
                  .col.s12.m4.l4
                     .center.promo.promo-example
                        i.mdi-action-favorite.amber-text
                        h5.promo-caption Passion
                        p.light.center
                           | Vi brinner f&ouml;r &ouml;l
               li
                  .col.s12.m4.l4
                     .center.promo.promo-example
                        i.mdi-maps-local-drink.amber-text
                        h5.promo-caption Utbud
                        p.light.center
                           | V&auml;lj bland 103 sorter.