// TODO: Sass:a

.promo i {
  font-size: 7rem;
  display: block;
}

.intro-text {
  font-weight: 100;
  margin-top: -8%;
  margin-bottom: 4%;
  line-height: 4rem;
  font-family: 'Cantarell', sans-serif !important;

  strong {
    font-weight: 100;
    color: #ffc107;
    font-family: 'Cantarell', sans-serif !important;
  }
}

.icon-text-area {
  font-family: 'Cantarell', sans-serif !important;
    strong {
      font-family: 'Cantarell', sans-serif !important;
    }
}

.intro-icon {
  //box-shadow: 0 0 200px 0 #ffc107;
  min-width: 1em;
  min-height: 1em;
}