@import '../../../style/main';

#work {
  padding-top: 1rem;
  background: $color_black_haze_approx;
}

#intro {
  padding-top: 4rem;
}

.intro-text {
  font-weight: 100;
  margin-top: -8%;
  margin-bottom: 4%;
  line-height: 4rem;
  font-family: $brand_font, $brand_font_backup;

  strong {
    font-weight: 100;
    color: $brand_color;
    font-family: $brand_font, $brand_font_backup;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 320px){
  .intro-text {
    line-height: 1.8rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 321px) and (max-width: 414px) {
  .intro-text {
    line-height: 2.3rem;
    font-size: 2rem;
    margin-bottom: -10%;
  }
}

@media only screen and (min-width: 415px) and (max-width: 1000px) {
  .intro-text {
    line-height: 3rem;
    font-size: 3rem;
  }
}