template(name="work")
    #work.section.scrollspy
        .container
            h2.amber.center
                b
                    i PRODUKTER
            .row
                ul.scrollfire.cards.cantarell
                    li
                        .col.s12.m4.l4
                            .card
                                .card-image.waves-effect.waves-block.waves-light.img-product
                                    img.activator(src='img/flaska.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | &Ouml;l 1
                                        i.mdi-navigation-more-vert.right
                                .card-reveal
                                    span.card-title.grey-text.text-darken-4
                                        | &Ouml;l 1
                                        i.mdi-navigation-close.right
                                    p
                                        | Here is some more information about this project that is only revealed once clicked on.
                    li
                        .col.s12.m4.l4
                            .card
                                .card-image.waves-effect.waves-block.waves-light.img-product
                                    img.activator(src='img/kapsyl.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | &Ouml;l 2
                                        i.mdi-navigation-more-vert.right
                                .card-reveal
                                    span.card-title.grey-text.text-darken-4
                                        | &Ouml;l 2
                                        i.mdi-navigation-close.right
                                    p
                                        | Here is some more information about this project that is only revealed once clicked on.
                    li
                        .col.s12.m4.l4
                            .card
                                .card-image.waves-effect.waves-block.waves-light.img-product
                                    img.activator(src='img/flaska.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | &Ouml;l 3
                                        i.mdi-navigation-more-vert.right
                                .card-reveal
                                    span.card-title.grey-text.text-darken-4
                                        | &Ouml;l 3
                                        i.mdi-navigation-close.right
                                    p
                                        | Here is some more information about this project that is only revealed once clicked on.
                    li
                        .col.s12.m4.l4
                            .card
                                .card-image.waves-effect.waves-block.waves-light.img-product
                                    img.activator(src='img/kapsyl.png')
                                .card-content
                                    span.card-title.activator.grey-text.text-darken-4
                                        | &Ouml;l 4
                                        i.mdi-navigation-more-vert.right
                                .card-reveal
                                    span.card-title.grey-text.text-darken-4
                                        | &Ouml;l 4
                                        i.mdi-navigation-close.right
                                    p
                                        | Here is some more information about this project that is only revealed once clicked on.
