template(name="work")
    #work.section.scrollspy
        .container
            h2.amber.center
                b
                    each work
                        if workTitle
                            i
                                | {{{ workTitle }}}
            .row
                ul.scrollfire.cards.cantarell
                    each work
                        if title
                            li
                                .col.s12.m4.l4
                                    .card(id="#{id}")
                                        .card-image.waves-effect.waves-block.waves-light.img-product
                                            img.activator(src='#{img}')
                                        .card-content
                                            span.card-title.activator.grey-text.text-darken-4
                                                | {{{ title }}}
                                                i.mdi-navigation-more-vert.right
                                        .card-reveal
                                            span.card-title.grey-text.text-darken-4
                                                | {{{ title }}}
                                                i.mdi-navigation-close.right
                                            p
                                                | {{{ text }}}
