<template name="navbar">
    <div class="navbar-fixed">
        <nav id="nav_f" role="navigation" class="amber">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" href="#top" class="brand-logo black-text cantarell">
                        YELLOW DANGER BREWERY
                    </a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>

                    <ul id="nav-mobile" class="side-nav">
                        {{> nav_items_secondary}}
                    </ul>
                    <ul id="nav-upper" class="hide-on-med-and-down right">
                        {{> nav_items_primary}}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>


<template name="nav_items_primary">
    {{> nav_items}}
</template>

<template name="nav_items_secondary">
    {{> nav_items}}
</template>

<template name="nav_items">
    {{#each items}}
        <li class="cantarell">
            <a href="#{{link}}">
                {{{text}}}
            </a>
        </li>
    {{/each}}
</template>