head
   title Yellow Danger Brewery

   meta(name='keywords',
   content='Yellow Danger Brewery, Beer, Norrköping, IPA ')

   meta(name="description" content="Yellow Danger Brewery. Beer.")
   meta(name="author", content="Stab Gun Viol")
   meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
   meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

   // TODO: Devices
   // TODO: Generate custom made favico
   link(rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon")
   link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")

   link(href='http://fonts.googleapis.com/css?family=Cantarell:400,700italic,400italic' rel='stylesheet' type='text/css')