template(name="loading")
   .container
      .row
         h4.center Loading ...
      .row
         .center
            .preloader-wrapper.big.active
               .spinner-layer.spinner-blue
                  .circle-clipper.left
                     .circle
                  .gap-patch
                     .circle
                  .circle-clipper.right
                     .circle
