@import '../../../style/main';

$img-size: 150px;
$img-radius: 75px;

#team {
  padding-top: 1rem;
  background: $color_black_haze_approx;
}

.card-avatar {
  .waves-effect {
    text-align: center;
    margin-top: 20px;
  }

  .waves-effect:hover {
    cursor: default;
  }

  img {
    height: $img-size;
    width: $img-size;
    @include border-radius($img-radius);
  }

  .card-content {
    text-align: center;
    i {
      font-size: 1.5rem;
    }
    .card-title {
      line-height: 30px !important;
    }
  }
}

.card .card-content p {
  margin: 15px 0;
}

.card .card-title.activator {
  cursor: default;
}