<template name="team">
    <div id="team" class="section scrollspy">
        <div class="container">
            <h2 class="header center">
                <b>
                    <i>TEAM</i>
                </b>
            </h2>

            <div class="row">
                {{> team_cards}}
            </div>
        </div>
    </div>
</template>

<template name="team_cards">
    <ul class="scrollfire persons cantarell">
        {{#each cards}}
            <li>
                <div class="col s12 m4 14">
                    <div class="card card-avatar">
                        <div class="waves-effect waves-block waves-light">
                            <img class="activator" src="{{img}}">
                        </div>

                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-3">
                                <div name="name">
                                    {{{name}}}
                                </div>
                                <small>
                                    <em>
                                        <a class="orange-text text-darken-1" href="#">
                                            {{{title}}}
                                        </a>
                                    </em>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</template>